@use 'sass:map';
@use './variables' as *;

// Container padding
$container-padding-x: 1rem;

// Container styles
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-padding-x;
  padding-left: $container-padding-x;
}

.container {
  @each $breakpoint, $max-width in $breakpoints {
    @include media-up($breakpoint) {
      max-width: $max-width;
    }
  }
}

// Container modifiers
@each $breakpoint, $max-width in $breakpoints {
  .container-#{$breakpoint} {
    @extend .container-fluid;

    @include media-up($breakpoint) {
      max-width: $max-width;
    }
  }
}
