@use '../mixins/mixins' as *;
@use 'sass:map';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Определяем шрифты
$fonts: (
  'primary': (
    'family': (
      'Inter',
      system-ui,
      -apple-system,
      sans-serif,
    ),
    'weights': (
      'regular': 400,
      'medium': 500,
      'bold': 700,
    ),
  ),
  'secondary': (
    'family': (
      'Roboto',
      system-ui,
      -apple-system,
      sans-serif,
    ),
    'weights': (
      'regular': 400,
      'medium': 500,
      'bold': 700,
    ),
  ),
);

// Миксин для применения шрифта
@mixin font-family($font: 'primary') {
  font-family: map.get(map.get($fonts, $font), 'family');
}

@mixin font-weight($weight: 'regular', $font: 'primary') {
  font-weight: map.get(map.get(map.get($fonts, $font), 'weights'), $weight);
}

// Определение переменных для шрифтов
:root {
  --font-primary: @include font-family('primary');
}

$font-family: var(--font-primary);
